{% extends 'cours.twig.html' %}
{% block cours %}
<div class="cours">
    <h2> Le codage du parachute </h2>
    <p>
        Si l'on observe avec attention, on se rend compte que le parachute comprend quatre cercles concentriques.
        Chacun de ces cercles est découpé en 80 sections, et ces sections peuvent être blanches ou rouges.
        Le parachute est donc le suivant :
    </p>
    <div class="d-flex">
        <figure class="figure mx-auto">
            <img class="figure-img img-fluid img-rounded img-thumbnail"
                src="ressources/nasa-ascii/assets/img/motif.png">
            <figcaption class="figure-caption text-center"> Le parachute </figcaption>
        </figure>
    </div>
    <h3> La répartition des couleurs </h3>
    <p>
        En examinant de plus prêt le motif, les internautes sont arrivés à décrypter le message en cherchant avec des
        méthodes usuelles de cryptanalyse. Nous allons utiliser leur résultat pour comprendre. Les trois anneaux
        centrales du parachute comprennent une zone rouge continue. Cette zone rouge sert en fait à indiquer la fin du
        message.
    </p>
    <p>
        Les anneaux comprennent 80 éléments. On peut imaginer que ces 80 éléments indiquent 10 octets. Après avoir
        essayé, il n'y avait pas de message caché de cette façon.
    </p>
    <p>
        Par contre, on peut faire 8 groupes de 10bits. Chacun des groupes est en fait commencé par 3 traits blancs. Le
        "grand" groupe rouge continu a lui aussi 3 traits blancs à son début. C'est ainsi que le codage a été trouvé. Si
        on applique ce principe, on va regrouper les traits de la façon suivante dans l'anneau le plus interne :
    </p>
    <div class="d-flex">
        <figure class="figure mx-auto">
            <img class="figure-img img-fluid img-rounded img-thumbnail"
                src="ressources/nasa-ascii/assets/img/motif-colorie.png">
            <figcaption class="figure-caption text-center"> Mise en évidence des zones </figcaption>
        </figure>
    </div>
    <h3>Encodage</h3>
    <h4> Anneau central </h4>
    <p>
        Cette répartition des couleurs correspond à un encodage en binaire. si on considère que le blanc signifie 0 et
        que le rouge signifie 1, on va avoir :
    </p>
    <ul>
        <li> 000 0100 pour le premier groupe </li>
        <li> 000 0001 pour le second groupe </li>
        <li> 001 0010 pour le troisième groupe </li>
        <li> 000 0101 pour le quatrième groupe </li>
    </ul>
    <p>
        Si on traduit, le premier groupe correspond en binaire au nombre 4. La quatrième lettre de l'alphabet est le D,
        et c'est aussi la première lettre du message martien. Le codage choisi pour l'étrange message du parachute est
        celui des codes secret des enfants : A vaut 1, B vaut 2, C vaut 3, etc.
    </p>
    <div class="todo">
        <h6> À faire vous même </h6>
        <p>
            Indiquez à quel nombre correspondent les groupes suivants. En déduire la lettre qu'ils codent.
        </p>
    </div>
    <h4> Les deuxième et troisième anneau </h4>
    <p>
        Le message contient trois mots sur les trois anneaux intérieurs.
        Le deuxième et troisième anneau fonctionnent sur le même principe. Il suffit donc de faire des blocs de 10 bit
        et de voir à quel nombre cela correspond. Notez bien que grâce à l'alternance des zones continues rouges, qui
        n'ont pas de signification dans le message, on constate que chaque anneau commence là où le précédent avait
        fini.
    </p>
    <div class="todo">
        <h6> À faire vous même </h6>
        <ul>
            <li>Regroupez de la même façon les éléments du deuxième et du troisième anneau pour trouver le deuxième et
                le
                troisième mot du message. Pour vous aider, voici ci dessous une représentation peut être plus lisible du
                parachute.
            </li>
            <li> L'ensemble des trois mots constitue la devise d'une célèbre institution. Laquelle ?</li>
        </ul>
        <div class="d-flex">
            <figure class="figure mx-auto">
                <img class="figure-img img-fluid img-rounded img-thumbnail"
                    src="ressources/nasa-ascii/assets/img/motif.jpg">
                <figcaption class="figure-caption text-center"> Les zones du parachute </figcaption>
            </figure>
        </div>
        <p> Si vous le souhaitez, vous pouvez télécharger
            <a href="ressources/nasa-ascii/assets/img/parachute.pdf" target="_blank">
                un fichier pdf imprimable de ce parachute
            </a>
            pour faciliter votre travail
        </p>
    </div>
    <h4> Le dernier anneau </h4>
    <p>
        Le dernier anneau a laissé les internautes perplexe un peu plus longtemps. Et pour cause. Les trois premiers
        anneaux contenaient des lettres, représentés par des nombres entre 1 et 26. Sur le quatrième et dernier anneau,
        on commence par un nombre qui vraisemblablement ne correspond pas à une lettre : 34 !
    </p>
    <div class="d-flex">
        <figure class="figure mx-auto">
            <img class="figure-img img-fluid img-rounded img-thumbnail"
                src="ressources/nasa-ascii/assets/img/cercle-externe.png">
            <figcaption class="figure-caption text-center"> Début du cercle externe </figcaption>
        </figure>
    </div>
    <p>
        En fait, le 4ème cercle indique des coordonnées GPS. Il y a d'abord trois groupes de chiffre puis une lettre (S
        ou N) qui indique la latitude puis trois groupe de chiffres et une lettre (E pour est ou W pour ouest - west en
        anglais) qui indique la longitude
    </p>
    <div class="todo">
        <h6> À faire vous même </h6>
        <ul>
            <li> Notez le contenu binaire des 8 groupes de bits</li>
            <li> Traduisez les trois premiers en chiffre et le quatrième en lettre </li>
            <li> Faîtes de même avec les quatre autres groupes. </li>
            <li> Entrez cet ensemble de coordonnées tel quel dans
                <a href="https://nominatim.openstreetmap.org/ui/search.html">le service nominatim de openStreetMap</a>
                et trouver l'endroit auquel correspondent ces coordonnées GPS.
            </li>
        </ul>
    </div>
</div>
{% endblock %}