{% extends 'cours.twig.html' %}
{% block cours %}
<div class="cours">
    <h2> L'étrange parachute de perseverance </h2>
    <p>
        Le lundi 22 février, le rover <b>Perseverance</b> de la NASA a atterri avec succès sur Mars. La vidéo a été diffusée sur internet.
        Alors que le parachute se déployait, les internautes ont repéré un étrange motif sur le parachute. 
    </p>
    <div class="row">
        <div class="col">
            <div class="youtube text-center" data-video-id="s4d9MWfTEnE" data-bs-target="#videoModal"
                data-bs-toggle="modal" data-video-title="Le parachute de Perseverance"> </div>
        </div>
    </div>
    <p>
        Sur le très populaire forum Reddit, certains se sont demandés si cet étrange motif ne cachait pas un code. 
        Il aura fallu moins de six heures pour que les internautes trouve le message caché dans ce parachute. 
        Nous allons en étudier le principe.
    </p>
</div>
<div class="remarque">
    <h6>Attributions</h6>
    <p>
        L'image d'arrière plan est une photo de <a
            href="https://unsplash.com/@lisch?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">Christian Lischka SJ
            </a> sur <a
            href="https://unsplash.com/s/photos/mars?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">Unsplash</a>
    </p>
    <p>
        Cette activitée est inspirée d'un article du monde du 23 février 2021 et du post du forum reddit qui l'a généré.
    </p>
</div>
{% endblock %}