{% extends 'cours.twig.html' %}
{% block cours %}
<div class="cours">
    <h2> Un autre parachute </h2>
    <p>
        On peut très bien coder d'autre messages sur le même principe. Voici une proposition qui contient au autre
        message :
    </p>
    <div class="d-flex">
        <figure class="figure mx-auto">
            <img class="figure-img img-fluid img-rounded img-thumbnail"
                src="ressources/nasa-ascii/assets/img/parachute-perso.png">
            <figcaption class="figure-caption text-center"> Nouveau message </figcaption>
        </figure>
    </div>
    <p>
        Le positionnement des blocs ne se fait pas exactement dans la continuité comme pour le parachute originel de la
        NASA. En fait, le début des mots est positionné exactement comme sur le parachute original.
    </p>
    <div class="todo">
        <h6> À faire vous même </h6>
        <p>
            Traduisez ce message et indiquer à quel batîment correspondent les coordonnées du dernier cercle.
        </p>
    </div>
</div>
<div class="remarque">
    <h6> Bonus </h6>
    <p>
        Vous voulez vous aussi générer votre parachute ? 3 mots de huit lettres maximum et des coordonnées GPS ? Voici
        <a href="https://sjwarner.github.io/perseverance-parachute-generator/" target="_blank"> la page crée par un
            internaute pour faire vos parachutes
        </a> !
    </p>
</div>
{% endblock %}